.about-us {
    width: 100%;
    height: 5em;
    background-color: #3AB07B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.headline-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-us-text {
    width: 40%;
    margin-left: 37em;
    margin-bottom: 7em;
}