.advertisement-box {
    display: flex;
    margin: 40px;
    margin-left: 10%;
    box-shadow: 3px 8px 12px #888888;
    align-items: center;
    padding: 20px;
}

.info-area {
    height: 750px;
    display: flex;
    width: 60%;
    flex-direction: column;
    padding: 30px;
    color: rgb(84,84,84);
}

.advertisement-box p {
    margin-left: 30px;
    width: 70%;
    font-size: 1.3em;
}