@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,300;1,200&family=Koulen&family=Kulim+Park:wght@200&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Epilogue:ital,wght@0,100;0,300;1,200&family=Inter:wght@600&family=Koulen&family=Kulim+Park:wght@200&family=Orbitron&display=swap');


.header-container {
    height: 4em;
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    color: white;
}

.header-container a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 16px;
}

.logo-black {
    height: 80%
}

.nav {
    width: 80px;
}