.office {
    position: relative;
    height: 30em;
  }
  
  .banner {
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    margin-top: 10em;
    background-color: white;
  }
  
  .banner p {
    align-items: center;
    color: black;
    font-size: 2em;
    margin-left: 100px;
    width: 20em;
  }

  .banner a {
    text-decoration: none;
  }